<!DOCTYPE html>
<html lang="en" xmnls:th="http://thymeleaf.org" xmlns:xmnls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>

</head>
<body>
<form th:action="@{/people}" th:object="${person}" th:method="post">

    <div>
        <label>Введите ФИО:</label>
        <input id="=fullName" placeholder="" required type="text" th:field="*{fullName}"/>
    </div>
    <div>
        <label>Введите год рождения:</label>
        <input id="=birthYear" placeholder="0" required type="text" th:field="*{birthYear}"/>
    </div>
    <input type="submit" value="Создать!"/>
</form>

</body>
</html>